<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail text-center">
      <%= image_tag @cat.image_uri %>
      <h3 class="text-muted"><%= @cat.name %></h3>

      <p style="color:red" class="btn btn-default btn-circle">
      <span class="glyphicon glyphicon-heart" aria-hidden="true">
      </span> <em><%= link_to @cat.votes, cat_path(@cat, vote: true), method: "PUT" %></em></p>

      <p style="color:RoyalBlue" class="btn btn-default btn-circle">
      <span class="glyphicon glyphicon-remove" aria-hidden="true">
      </span>
       <%= link_to "Next", cat_path(@cat, random: true), method: "PUT" %></p>

    </div>
  </div>
</div>
